<%- include('header') -%>
<div class="card">
    <h1>About Me:</h1>
    <p>Thats a very good description of this website and my complete bio that has a zillion lines about me and my projects</p>
</div>
<%- include('footer') -%>